---

import Layout from '../layouts/Layout.astro';

---

<Layout>
    <!-- categorias  y lenguas disponibles  -->
    <section class="w-11/12 lg:w-4xl mx-auto">
      <h1>Acerca del diccionario de lenguas</h1>
      <p class="mt-6">Proyecto académico en colaboración con comunidades y especialistas. Priorizamos accesibilidad, soberanía de datos y licencias abiertas con resguardo diferenciado para materiales comunitarios.</p>
    </section>
</Layout>
