<footer class="bg-[url(../assets/img/bg-footer.png)] bg-size-[120px] text-blue-950 text-center  mt-auto ">
    <div class="bg-orangesp-500/40 text-center py-2">contacto</div>
    <p class="flex justify-center text-xs mx-auto pt-2 pb-5 ">
      Hecho en México, <br>
      Universidad Nacional Autónoma de México (UNAM), todos los derechos reservados 2026. <br>
      Esta página puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, <br> se cite la fuente completa y su dirección electrónica. De otra forma, requiere permiso previo por escrito de la institución.
    </p>
</footer>
