
---

---
<div class="bg-[url(../assets/img/cenefa.png)] bg-contain h-5"></div>
<nav class="bg-white border-y-3 border-primary-200">
	<ul class="flex justify-center space-x-5  p-3">
        <li><a href="/diccionario/">Inicio</a></li>
        <li><a href="/diccionario/acerca/">Acerca de</a></li>
        <li><a href="/diccionario/lenguas/">Lenguas disponibles</a></li>
    </ul>
</nav>
