---
import Audio from "../assets/img/audio.svg"
---
<section class="bg-white/60 text-center my-5 p-8">
  <h3 class="font-bold">Palabra del dia</h3>
  <p class="flex justify-center items-center gap-2 text-5xl text-primary-600 my-1">
    <strong class="font-avenir">Babo</strong>
    <img src={Audio.src} alt="Icono símbolo de audio" class="h-10">
  </p>
  <p class="my-2"><strong>Es:</strong> Adjetivo - Caracol, babosa       <strong class="ml-6">En:</strong> Adjective - Snail Slug</p>
  <p class="mt-6">Ejemplos</p>
  <p class="w-xl mx-auto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus nihil sunt magni nostrum deserunt natus, cupiditate sed praesentium itaque eius possimus ab consequatur et qui quia, rerum dolor amet repudiandae.</p>
</section>